<div>
    <table class="dataTable">
        <thead>
            <tr>
                <th><input type="text" placeholder="Code" ng-model="searchCode"
                    ng-model-options="{ debounce: 300 }"></th>
                <th><input type="text" placeholder="Name" ng-model="searchName"
                    ng-model-options="{ debounce: 300 }"></th>
                <th><input type="text" placeholder="Sequence" ng-model="searchSequence"
                    ng-model-options="{ debounce: 300 }"></th>
            </tr>
        </thead>

        <tr ng-repeat="primer in primers | orderBy : 'code'" ng-click="showPrimer(primer.id)">
            <td>{{ primer.code || "-" }}</td>
            <td>{{ primer.name }}</td>
            <td>{{ primer.sequence }}</td>
        </tr>
    </table>

    <div ng-if="primers.length == 0" class="error">
        There ain't no primers
    </div>
</div>