<div>
    <table class="dataTable">
        <thead>
            <tr>
                <th><input type="text" placeholder="Code" ng-model="searchCode"
                    ng-model-options="{ debounce: 300 }"></th>
                <th><input type="text" placeholder="Name" ng-model="searchName"
                    ng-model-options="{ debounce: 300 }"></th>
                <th><input type="text" placeholder="Sequence" ng-model="searchSequence"
                    ng-model-options="{ debounce: 300 }"></th>
            </tr>
        </thead>

        <tr ng-repeat="primer in primers" ng-click="showPrimer(primer.id)">
            <td>{{ primer.code || "-" }}</td>
            <td>{{ primer.name }}</td>
            <td>{{ primer.sequence }}</td>
        </tr>
    </table>

    <a href ng-hide="endOfResults" ng-click="loadMore()">Load more</a>
</div>