@import url("http://fonts.googleapis.com/css?family=Raleway:400,700|Open+Sans")

// Colour schemes
// ==============
black = #000
blue = #2c96bf
darkBlue = #296876
darkBlueTrans = rgba(darkBlue, 0.8)
gray = #bbb
orange = #f2921d
darkOrange = #f2811d
white = #f2f2f2

// Header
// ======
headerHeight = 48px
headerBorder = 6px

// Rules
// =====

* {
    box-sizing border-box
}

body {
    background white
    font 16px "Open Sans"
    margin 0px 0px 20px 0px
    
    .spacer {
        height: headerHeight + headerBorder
    }
}

header {
    left 0px
    position fixed
    top 0px
    width 100%
    z-index 10
    
    .content {
        background black
        color white
        font 14px Raleway
        height headerHeight
        padding 0px 10px
        
        a {
            color white
            margin-right 7px
        }
    }
    
    .logo {
        color white
        font 700 32px/headerHeight Raleway
        margin-right 15px
        
        .highlight {
            color blue
        }
    }
    
    .border {
        background darkBlueTrans
        height headerBorder
    }
}

.wrapper {
    padding-top 0
}

input[type="text"], input[type="password"], textarea {
    border 1px solid gray
    font-size 16px
    padding 3px 7px
    margin-bottom 7px
    resize none
    width 100%
}

button {
    background darkBlue
    border 0
    border-radius 5px
    cursor pointer
    color white
    font-size 16px
    padding 7px 14px
}

.dialog {
    background #fff
    border 1px solid #bbb
    color #666
    border-radius 5px
    box-shadow #777 0px 0px 10px
    margin auto
    margin-top 40px
    max-width 90%
    padding 10px
    width 600px
    
    h1 {
        color #333
        text-align center
    }
}

.error {
    background #b22
    border-radius 5px
    color white
    margin-bottom 7px
    padding 5px
    text-align center
}

.dataTable {
    thead {
        background darkBlueTrans
    }
    
    th {
        padding: 0px 7px 4px 7px
        
        input {
            border 0
            border-radius 3px
            padding 7px inherit
            margin 0
        }
    }
    
    td {
        font-size 0.92rem
        padding 8px
    }
    
    border 0
    border-bottom 6px solid darkBlue
    border-collapse collapse
    width 100%
}
